.form-wrapper{
    display: flex;
    justify-content: center;
    width: 300px;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    gap: 10px;
    
}
.form-wrapper>label{
    display: flex;
    gap: 10px;
    justify-content: center;
    padding: 40px;
    font-size: large;
    color: rgb(52, 30, 73);

}

.form-wrapper>label>input{
    width: 400px;
    height: 30px;

}
