.feedback-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    min-width: 400px;
    padding: 20px;
    background-color: white;
    border: 2px solid red;
    border-radius: 20px;
}

.button-like-dislike {
    display: flex;
    justify-content: space-between; /* Like слева, Dislike справа */
    align-items: center;
    flex-direction: row;
    width: 100%; /* чтобы space-between работал */
    max-width: 400px;
    gap: 20px;
}

.result-container {
    font-size: 28px;
    text-align: center;
    width: 60px; /* фиксированная ширина для счётчика */
}

